* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Inter", serif;
    box-sizing: border-box;
    font-size: 20px;
}

.header {
  margin-top: 0px;
}

.header .container {
  max-width: 100%;
  width: 1440px;
  height: 164px;
  margin: 0px auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  
}

nav a {
  text-decoration: none;
  margin-right: 48px;
  color: black;
  transition: .6s ease;
  flex-wrap: wrap;
  place-content: end;
  }

#site_name {
  margin-right: auto;
}

nav a:hover {
  color: #000000;
  transform: scale(1.05);
}

.btn_log_out{
    display: inline-flex;
    align-items: center;
    padding: 14px 24px;
    justify-content: center;
    border-radius: 8px;
    background: #1a1a1a;
    border: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
}

.btn_make_order {
  display: inline-flex;
    align-items: center;
    padding: 14px 24px;
    justify-content: center;
    border-radius: 8px;
    background: rgb(214, 214, 214);
    border: none;
    color: black;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
}

.btn_log_out:hover {
  background-color: rgb(54, 54, 54);
  transition: .6s ease;
  
}

.shop_image {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("img/main_title.png");
  max-width: 100%;
  border-radius: 20px;
  width: 1330px;
  height: 597px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  /* filter: brightness(0.5); */
}

.shop_title {
  align-content: center;
  margin-left: 20%;
  margin-right: 20%; 
  width: 1330px;
  height: 597px;
  margin-left: 18.1%;
  flex-wrap: wrap; 
  box-sizing: border-box;

}

.shop_title h1 {
  color: white;
  justify-content: center;
  align-self: center;
  font-size: 64px;
}

.shop_title a {
  color: white;
  justify-content: center;
  align-self: center;
  font-size: 24px;
}

/* .shop_title img {
  max-width: 100%;
  width: 1330px;
  height: 597px; 
  object-fit: contain;
  border-radius: 10px;
  filter: brightness(0.5);
} */

.About_prod a {
  display: flex;
  justify-content: center;
  font-size: 40px;
  max-width: 100%;
  margin-top: 120px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;

}

.new_prod {
    padding-bottom: 120px;
    align-items: center;
}

.new_prod .container-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* flex-shrink: 1; */
    text-align: center;
    justify-content: space-around;
    max-width: 1400px;
    /* background-color: rgb(0, 0, 0); */
    /* margin-left: auto; */
    margin-left: auto;
    margin-right: auto;
    
}

.box {
    max-height: 366px;
    max-width: 404px;
    margin: 10px;
    margin-bottom: 32px;
    text-align: left;
    line-height: 1.5;
    box-sizing: content-box;
    margin-right: 35px;
}

.box a {
  color: #828282;
}

.new_prod .container-box .box img {
    height: 244px;
    width: 404px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.lower_prod {
    display: flex;
    flex-wrap: wrap;
    /* gap: 32px; */
    justify-content: center;
    justify-items: center;
    max-width: 1282px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .featured-product {
    max-width: 735px;
    max-height: 764px;
    
  }

  .featured-product img {
    width: 735px;
    height: 640px;
    margin-bottom: 24px;
  }

  .product-box {
    display: flex;
    flex-direction: column;
    width: 515px;
    height: 366px;
    gap: 10px;
    text-align: left;
    line-height: 1.5;
    box-sizing: content-box;
    margin-left: 32px;
    margin-bottom: 32px;
    justify-content: space-between;
    
    
    
    
  }

  .product-box img{
    max-width: 100%;
    width: 515px;
    margin-bottom: 24px;
  }











  /* .featured-product {
    width: 735px;
    height: 746px;
  }
  
  .featured-product img {
    width: 735px;
    height: 642px;
    object-fit: cover; 
    border-radius: 8px;
  }
  
  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 515px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product img {
    width: 515px;
    height: 244px; 
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product.top {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    height: 382px; 
  }
  
  .product.lower {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    height: 382px; 
  }
  
  h2 {
    font-size: 1.2em;
    margin: 0;
  }
  
  p {
    font-size: 0.9em;
    margin: 5px 0;
  }
  
  span {
    font-size: 1em;
    font-weight: bold;
  } */
  
  /* @media (max-width: 768px) {

    

    .grid {
      grid-template-columns: 1fr;
    }
  
    .featured-product,
    .product {
      width: 100%;
      height: auto;
    }
  
    .featured-product img,
    .product img {
      width: 100%;
      height: auto;
    }
  } */

  /* .parent {
  display:flex;
  flex-wrap: wrap;
  gap: 16px;
  
  
}

.child {
  flex: 1 calc(30% - 16px); 
  box-sizing: border-box;
  background: lightblue;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  align-items: center;
}


@media (max-width: 1200px) {
  .child {
    flex: 2 2 calc(33.33% - 16px);
  }
}


@media (max-width: 768px) {
  .child {
    flex: 1 1 calc(50% - 16px); 
  }
}


@media (max-width: 480px) {
  .child {
    flex: 1 1 100%; 
  } } */

  @media (max-width: 1806px) {
    .box {
      flex: 1 1 calc(63.33% - 32px);
    }
  }

  @media (max-width: 1376px) {
    .shop_image {
      width: 80%;
    }
  }

  @media (max-width: 820px) {
    .shop_image {
      width: 80%;
      
    }
  }



  @media (max-width: 400px) {
    .box {
      margin-left: 10%;
    }
    
    .box img {
      max-width: 300px;
      max-height: 200px;
    }

    .shop_image {
      width: 90%;
      height: 100%;
    }
    .shop_title h1 {
      font-size: 42px;
    }

    .shop_title a {
      font-size: 20px;
    }

  }